@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2')
      format('woff2');
  }
  ,
  @font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url('../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I.woff2')
      format('woff2');
  }
  ,
  h1,
  .h1 {
    @apply text-[45px] font-bold leading-[55px] md:text-[54px] lg:text-[90px] lg:leading-[100px] xl:text-[96px] xl:leading-[108px];
  }

  h2,
  .h2 {
    @apply text-[28px] leading-[34px] font-bold md:text-[36px] md:leading-[44px] lg:text-[42px] lg:leading-[60px] xl:text-[48px];
  }

  h3,
  .h3 {
    @apply text-[24px] leading-[38px] font-bold md:text-[28px] md:leading-[44px] lg:text-[38px] xl:text-[42px];
  }

  h4,
  .h4 {
    @apply md:text-[26px] font-bold lg:text-[36px] xl:text-[36px];
  }

  h5,
  .h5 {
    @apply md:text-[24px] font-bold md:leading-[34px] lg:text-[32px] lg:leading-[42px] xl:text-[36px] xl:leading-[46px];
  }

  h6,
  .h6 {
    @apply md:text-[22px] font-bold lg:text-[30px] xl:text-[30px];
  }

  plarge,
  .plarge {
    @apply text-[18px] font-normal leading-[30px] md:text-[18px] md:leading-[28px] lg:text-[22px] lg:leading-[36px] xl:text-[22px];
  }

  p,
  .p {
    @apply text-[16px] leading-[26px] md:text-[16px] lg:text-[20px] lg:leading-[34px] xl:text-[20px];
  }
}
