<section class="cta">
    <div class="container overflow-hidden relative sm:h-[334px] lg:h-[401.11px] xl:h-[470px] w-full px-5 py-10 mx-auto text-center text-primarywhite bg-primaryorange-400">
        <div class="absolute -top-[83px] xl:left-[234px] lg:left-[44px] hidden svgcontainer w-[262px] h-[262px] lg:block">
            <img src="{{ siteUrl }}static/images/ctaslicedcirclecomp.svg" alt="partial circle sliced in sections">
        </div>
        <div class="absolute right-[47.02px] top-[148.96px] hidden lg:block xl:hidden triangle-circles">
            <img src="{{ siteUrl }}static/images/ctacirclesintrianglecomp.svg" alt="circles in a triangle">
        </div>
        <div class="absolute top-[196.85px] right-[158.56px] hidden xl:block triangle-circles">
            <img src="{{ siteUrl }}static/images/ctaxlcirclesintrianglecomp.svg" alt="circles in a triangle">
        </div>
    
        <h2 class="font-bold text-[28px] leading-[34px] w-[335px] md:text-[48px] md:leading-[54px] lg:mt-[34.5px] lg:text-[48px] lg:leading-[54px] xl:text-[54px] xl:leading-[58px] lg:mb-8 px-11 mb-4 md:mx-auto md:w-11/12 lg:w-6/12 xl:w-5/12">Talk to our eLearning experts today</h2>
        <p class="mt-4 mb-8 text-base font-normal lg:mb-10">Contact us to discuss your learning challenges and find solutions.</p> 
        <div class="flex justify-center pt-4 mb-3 gap-x-2.5">
            <a href="#" type="button" class="text-primarywhite text-sm bg-transparent border-2 hover:bg-primaryorange-500 font-bold leading-[30px] px-3 py-1  lg:px-6 text-center rounded-[35px] align-baseline select-none">Contact Us</a>
            <a href="#" type="button" class="text-primarywhite text-sm bg-primaryblack-950 hover:text-primaryblack-100 font-bold leading-[30px] px-3 py-1 md:px-[26px] text-center rounded-[35px] align-baseline select-none">Request a Demo</a>
        </div>
    </div>
</section>