<section class="Hero">
        <div class="container overflow-hidden md:flex">
            {# Content Section - Hero #}
            <div class="p-4 md:w-6/12 lg:w-1/2 ">
                <h1 class="mb-4 font-sans text-[45px] leading-[55px]
                font-semibold tracking-wide">Learning <br>that <span class="font-bold text-primaryorange-400">works</span></h1>
                <p class="text-[#474747] mb-8 text-base font-normal tracking-wide">We deliver engaging learning experiences that work for your goals and learners</p>
                <div class="flex items-center">
                    {#  Button - Hero #}
                    <button type="button" class="text-white bg-primaryorange-400 hover:bg-primaryorange-600 font-bold text-center text-[17px] px-5 mr-3 rounded-[35px] w-[152px] h-[52px]">What We Do</button>

                    <a href="#" class="flex items-center py-1 group">   
                        <svg class=" group-hover:text-primaryorange-600" width="28" height="29" viewBox="0 0 28 29" fill="none" 
                            xmlns="http://www.w3.org/2000/svg">
                            <circle cx="14" cy="14.4719" r="13" stroke="#F26839" stroke-width="2"/>
                            <path d="M12 18.8252L18.0674 14.9719L12 11.1186V18.8252Z" fill="#F26839" stroke="#F26839"/>
                            </svg>
                        <span class="px-2 text-[17px] font-bold text-primaryorange-400 group-hover:text-primaryorange-600">Watch Video</span>
                    </a>
                </div>
            </div>
             {# Image Section - Hero #}
            <div class="justify-center hidden h-full mt-6 align-center lg:flex lg:items-center md:grow md:flex md:align-top">
                <svg class="hidden" width="375" height="439" viewBox="0 0 375 439" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="171.82" cy="219.202" r="218.102" stroke="#CBCBCB" stroke-width="1.53233" stroke-linecap="round" stroke-dasharray="0.51 10.22"/>
                </svg>
                <img class="md:w-5/12 lg:w-1/2 lg:h-full" <img src="{{ siteUrl }}static/images/hero.webp">
            </div>
        </div>
    </section>