<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Aurion Learning</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{ siteUrl }}static/css/styles.css">   
    
</head>
<body>
    {# HEADER SECTION #}

    {% include '_header.twig' %}

    {# HERO SECTION #}

    {% include '_hero.twig' %}
    
    {# ICON GRID SECTION #}

    {% include '_icons.twig' %}
    
    {# SOLUTIONS SECTION #}
    
    {% include '_solutions.twig' %}

    {# EXPERTISE-TABS SECTION #}

    {% include '_tabs.twig' %}
    
    {# WHY AURION #}

    {% include '_whyaurion.twig' %}
    
    {#  CTA SECTION #}

    {% include '_cta.twig' %}
    
    
    {#  FOOTER SECTION #}
    
    {% include '_footer.twig' %}
    
</body>
</html>