<section class="solutions">
        <div class="container bg-white">
             {# Image Section - Solutions #}
            <div class="lg:flex lg:items-center">
                <img class="object-cover h-auto mx-auto lg:w-1/2 lg:h-full" <img src="{{ siteUrl }}static/images/heroimage.webp">
            </div>
            <div class="p-4 text-center lg:w-1/2">
                <h1 class="mb-4 font-sans text-[28px] leading-[34px]
                font-bold">Learning solutions that <br> <span class="font-bold text-primaryorange-400">deliver results</span></h1>
                <p class="text-[#474747] mb-4 text-base font-normal tracking-wide">Whatever your learning and development goals are , we have the solution to achieve them. </p>
                {#  Button - Solutions #}
                <button type="button" class="text-white bg-primaryorange-400 hover:bg-primaryorange-600 font-bold text-center text-[17px] px-5 mr-3 rounded-[35px] w-[152px] h-[52px]">Learn More</button>
                <div class="inline-block">
                    <a href="#" class="text-[17px] leading-[30px] font-bold text-primaryblack-700 hover:text-primaryblack-300 underline">Request a Demo</a>
                </div>
            </div>
        </div>
    </section>