 <section class="why_aurion">
    <div class="container px-5 pb-10 mx-auto mt-2 text-center">
        <div class="pb-6 lg:mb-6">
            <h2>Why Aurion Learning?</h2>
            <p class="mx-auto mt-4 font-normal md:w-8/12 md:text-center xl:w-[840px]">With decades of learning, technical and creative experience, we will work with you to deliver the best learning experience that works for your learners.</p> 
        </div>
        <div class="grid grid-cols-3 grid-rows-3 gap-2 mt-3 mb-4 lg:gap-10 lg:mx-auto lg:grid-cols-3 lg:grid-rows-3 xl:gap-1 xl:justify-center xl:w-10/12">
            <div class="grid place-items-center place-content-center md:place-content-stretch lg:order-1">
                <img src="{{ siteUrl }}static/images/quillcomp.svg" alt="quill on a page icon">
            </div>
            <div class="col-span-2 col-start-2 lg:place-items-center lg:col-span-1 lg:row-span-2 lg:order-4">
                <p class="font-bold text-left lg:mx-auto plarge lg:text-center lg:justify-items-center">Sector Knowledge</p>
                <p class="font-normal text-left md:w-11/12 lg:w-[370px] lg:text-center lg:mb-6 lg:justify-items-center lg:mx-auto xl:w-[430px]">We work with a wide range of organisations across the public, private and charity sectors.</p> 
            </div>
            
            <div class="grid place-items-center place-content-center lg:order-2">
                <img src="{{ siteUrl }}static/images/marketplacecomp.svg" alt="global marketplace icon">
            </div>

            <div class="col-span-2 lg:order-5 lg:col-span-1 lg:row-span-2">
                <p class="font-bold text-left plarge lg:text-center">Established in Marketplace</p>
                <p class="font-normal text-left md:w-11/12 lg:w-[370px] lg:mx-auto lg:text-center xl:w-[400px]">Over 20 years of experience delivering high-quality learning solutions that work.</p> 
            </div>

            <div class="grid place-items-center place-content-center lg:order-3">
                <img src="{{ siteUrl }}static/images/trackcomp.svg" alt="a track with an arrow icon">
            </div>
                <div class="col-span-2 lg:order-6 lg:col-span-1 lg:row-span-2">
                    <p class="font-bold text-left plarge lg:text-center">Proven Track Record</p>
                    <p class="text-left lg:text-center  md:w-11/12 lg:mx-auto lg:w-[370px] xl:w-[400px] xl:text-center xl:m-0">Award-winning expertise in recognition of our quality, creativity and impact.</p> 
                </div>
        </div>
    </div>
</section>