 <section class="why_aurion">
    <div class="container px-5 pb-10 mx-auto mt-2 text-center lg:w-8/12">
        <div class="lg:mb-6">
            <h2>Why Aurion Learning?</h2>
            <p class="mx-auto mt-4 font-normal md:w-8/12 md:text-center">With decades of learning, technical and creative experience, we will work with you to deliver the best learning experience that works for your learners.</p> 
        </div>
        <div class="grid grid-cols-3 grid-rows-3 gap-2 mb-4 lg:mx-auto lg:grid-cols-3 lg:grid-rows-3 lg:justify-self-center lg:align-self-center lg:justify-center lg:align-center ">
            <div class="grid place-items-center lg:order-1">
                <img src="{{ siteUrl }}static/images/quillcomp.svg" alt="quill on a page icon">
            </div>
            <div class="col-span-2 col-start-2 lg:w-[300px] lg:col-span-1 lg:row-span-2 lg:order-4 ">
                <p class="mt-6 font-bold text-left plarge lg:text-center">Sector Knowledge</p>
                <p class="mt-2 font-normal text-left md:w-11/12 lg:text-center lg:mb-6">We work with a wide range of organisations across the public, private and charity sectors.</p> 
            </div>
            
            <div class="grid place-items-center lg:order-2">
                <img src="{{ siteUrl }}static/images/marketplacecomp.svg" alt="global marketplace icon">
            </div>

            <div class="col-span-2 lg:order-5 lg:w-[300px] lg:col-span-1 lg:row-span-2">
                <p class="mt-6 font-bold text-left plarge lg:text-center">Established in Marketplace</p>
                <p class="mt-2 font-normal text-left md:w-11/12 lg:text-center">Over 20 years of experience delivering high-quality learning solutions that work.</p> 
            </div>

            <div class="grid place-items-center lg:order-3">
                <img src="{{ siteUrl }}static/images/trackcomp.svg" alt="a track with an arrow icon">
            </div>
                <div class="col-span-2 lg:order-6 lg:w-[300px] lg:col-span-1 lg:row-span-2">
                    <p class="mt-6 font-bold text-left plarge lg:text-center">Proven Track Record</p>
                    <p class="mt-2 text-left lg:text-center">Award-winning expertise in recognition of our quality, creativity and impact.</p> 
                </div>
        </div>
    </div>
</section>