{% extends '_layout.twig' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    {% include '_hero.twig' %}

    <section>
        {% include '_icons.twig' %}
    </section>

    <section>
        {% include '_solutions.twig' %}
    </section>

    <section>
        {% include '_tabs.twig' %}
    </section>
    
    <section>
        {% include '_whyaurion.twig' %}
    </section>
    
    <section>
        {% include '_cta.twig' %}
    </section>

{% endblock %}